# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
dist

# Optional eslint cache
.eslintcache

# Playground
playground.js

# misc
.DS_Store
.env
npm-debug.log

src/**/*.css

*.sublime-project
*.sublime-workspace

video.mp4
frames
